src/test/resources/booksXMLSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="page"/>
        <xs:element type="xs:integer" name="per_page"/>
        <xs:element type="xs:integer" name="totalrecord"/>
        <xs:element type="xs:integer" name="total_pages"/>
        <xs:element name="books">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="book" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="id"/>
                    <xs:element type="xs:string" name="author"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:decimal" name="price"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="isbn" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>